<div class="w3-container" style="position: relative">
  <!-- <ng-container *ngIf="isLoading"> -->
  <mat-spinner *ngIf="isLoading" class="spinner-overlay"></mat-spinner>
  <!-- </ng-container> -->
  <div class="d-flex justify-content-center">
    <form [formGroup]="passwordForm" (ngSubmit)="updatePass()">
      <div class="row m-3 box">
        <div class="col-sm- 8">
          <mat-form-field appearance="fill">
            <mat-label>Enter current password</mat-label>
            <input
              type="password"
              formControlName="current"
              matInput
              #input3
              minlength="6"
            />
            <mat-hint align="end">{{ input3.value.length }}</mat-hint>
          </mat-form-field>
          <div class="text-danger" *ngIf="current?.dirty && current?.invalid">
            Current password required.
          </div>
        </div>
      </div>
      <div class="row m-3 box">
        <div class="col-sm- 8">
          <mat-form-field hintLabel="Min 6 char" appearance="fill">
            <mat-label>Enter new password</mat-label>
            <input
              type="password"
              formControlName="new"
              matInput
              #input1
              minlength="6"
              placeholder="Ex. Nougat"
            />
            <mat-hint align="end">{{ input1.value.length }}</mat-hint>
          </mat-form-field>
          <div class="text-danger" *ngIf="new?.dirty && new?.invalid">
            New password required.
          </div>
        </div>
      </div>
      <div class="row m-3 box">
        <div class="col-sm- 8">
          <mat-form-field hintLabel="Min 6 char" appearance="fill">
            <mat-label>Confirm password</mat-label>
            <input
              type="password"
              formControlName="confirm"
              matInput
              #input
              minlength="6"
              placeholder="Ex. Nougat"
            />
            <mat-hint align="end">{{ input.value.length }}</mat-hint>
          </mat-form-field>
          <div class="text-danger" *ngIf="confirm?.dirty && confirm?.invalid">
            Please confirm new password.
          </div>
        </div>
      </div>
      <ng-container *ngIf="input.value != input1.value">
        <div class="text-danger">
          New password and confirm password do not match.
        </div>
      </ng-container>
      <div class="row m-3 box">
        <div class="col-sm- 6">
          <button
            mat-raised-button
            color="primary"
            class="mb-3"
            [disabled]="passwordForm.invalid"
          >
            Update Password
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
