<div class="d-flex justify-content-center">
  <div class="col-sm-6">
    <div class="row">
      <div class="container">
        <!-- <img
        [src]="response.dbPath || '/assets/default_user_icon.png'"
        class="w3-margin w3-circle responsive-img"
        alt="user"
        /> -->
        <div
          class="profile-pic"
          style= "background: url('{{response.dbPath}}') center/cover no-repeat;"
        >
          <!-- <i class="fas fa-camera fa-2x"></i> -->
          <app-upload
            class="upload"
            (onUploadFinished)="uploadFinished($event)"
          >
          </app-upload>
        </div>
      </div>
      <div class="row mt-5"></div>

      <div class="row">
        <div class="d-flex flex-column">
          <div class="container">
            <div class="main">
              <form
                class="w3-container w3-card w3-padding-32 w3-white"
                [formGroup]="updateForm"
                (ngSubmit)="update()"
              >
                <ng-container>
                  <div class="w3-section">
                    <label>First Name</label>
                    <input
                      class="w3-input"
                      type="text"
                      formControlName="firstName"
                    />
                  </div>
                  <div class="w3-section">
                    <label>Last Name</label>
                    <input
                      class="w3-input"
                      type="text"
                      formControlName="lastName"
                    />
                  </div>
                  <div class="w3-section">
                    <label>Mobile</label>
                    <input
                      class="w3-input"
                      type="text"
                      formControlName="mobileNo"
                      placeholder="{{ userObj.mobileNo }}"
                    />
                  </div>
                  <div class="w3-section">
                    <label>Postal Code</label>
                    <input
                      class="w3-input"
                      type="text"
                      formControlName="postalCode"
                      placeholder="{{ userObj.postalCode }}"
                    />
                  </div>
                  <div>
                    <button type="submit" class="btn btn-dark w3-right">
                      <i class="fa-solid fa-pen-to-square"></i> Details
                    </button>
                    <button class="btn btn-dark" (click)="openDialog()">
                      <i class="fa-solid fa-pen-to-square"></i> Password
                    </button>
                  </div>
                </ng-container>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
