.style{
    color: rgb(47, 46, 53);
    font-size: x-large;
}

.hrs{
  font-size:larger; 
  color:darkgreen
}

.style1{
    font-size:larger; 
    color:darkred;
    
  }

.style2{
  font-size:larger; 
  color:darkgreen;
}

.span1{
    color:darkred;
    font-weight: bolder; 
}

.button:hover{
    color: rgb(136, 22, 22);
    
}

.button1{
    color: rgb(136, 22, 22);
}

/* For screens smaller than 576px */
@media (max-width: 575.98px) {
    .mat-card {
      width: 100%;
      margin-bottom: 1rem;
    }
    .mat-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .span1 {
      position: absolute;
      top: 0;
      right: 0;
    }
    .form-group {
        margin-bottom: 0.5rem;
      }
      
      .m-3 {
        margin: 0.5rem !important;
      }
     

      .style{
        color: rgb(47, 46, 53);
        font-size:small ;
    }
    
    .style1{
        font-size:small; 
        color:darkred;
        
      }
    
    .style2{
      font-size:small; 
      color:darkgreen;
    }
    .hrs{
        font-size:medium; 
        color:darkgreen
      }
  }
  
  /* For screens between 576px and 767.98px */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .mat-card {
      width: 48%;
      margin-right: 1%;
      margin-bottom: 1rem;
    }

    .form-group {
        margin-bottom: 0.5rem;
      }
      .style {
        font-size: small;
      }
      .m-3 {
        margin: 0.5rem !important;
      }
      .float-end {
        display: none;
      }
  }
  
  /* For screens between 768px and 991.98px */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .mat-card {
      width: 31%;
      margin-right: 1%;
      margin-bottom: 1rem;
    }

    .form-group {
        margin-bottom: 1rem;
      }
      .style {
        font-size: medium;
      }
      .m-3 {
        margin: 1rem !important;
      }
  }
  
  /* For screens between 992px and 1199.98px */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .mat-card {
      /* width: 23%; */
      margin-right: 1%;
      margin-bottom: 1rem;
    }

    .form-group {
        margin-bottom: 1rem;
      }
      .style {
        font-size: medium;
      }
      .m-3 {
        margin: 1rem !important;
      }
  }
  
  /* For screens 1200px and larger */
  @media (min-width: 1200px) {
    .mat-card {
      /* width: 50%; */
      margin-right: 1%;
      margin-bottom: 1rem;
    }
    .form-group {
        margin-bottom: 1rem;
      }
      .style {
        font-size: medium;
      }
      .m-3 {
        margin: 1rem !important;
      }
  }

